@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  background-color: #f5f6fa;
}

header {
  padding: 1rem;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 1rem 5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

h4 {
  color: #121212;
  opacity: 0.5;
  margin-bottom: 0.5rem;
}

h2 {
  margin: 0.5rem 0;
}

h5 {
  margin-top: 0.5rem;
  color: #4386bf;
  font-weight: 400;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.logo {
  color: #0290ff;
  font-size: 2rem;
  margin: 0;
}

li {
  margin: 0;
  padding: 0 1rem;
  font-size: 0.85rem;
  font-weight: 600;
}

.books {
  color: #121212;
}

.categories {
  color: #121212;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 var(rgba(0, 0, 0, 0.05));
  background-color: #fafafa;
  opacity: 0.5;
}

.fa-user {
  padding: 1rem;
  font-size: 1rem;
  color: #0290ff;
  border: 1px #e8e8e8 solid;
  border-radius: 50%;
  text-align: center;
}

.container {
  padding: 3rem 5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.book-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #fff;
  padding: 1rem 2rem;
  margin: 2rem 0;
}

.book-details {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.names {
  padding: 0 5rem 0 2rem;
}

.track {
  display: flex;
  justify-content: space-between;
  border-right: 2px solid #e8e8e8;
  padding: 0 7rem;
}

.links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 1rem 0;
}

.links li {
  color: #4386bf;
  font-weight: 400;
  padding: 0;
  cursor: pointer;
}

.links li button {
  background: none;
  border: none;
  outline: none;
  border-right: 2px solid #e8e8e8;
  padding: 0 1rem;
  color: #4386bf;
  font-weight: 400;
  cursor: pointer;
}

.links li button:hover,
.links li button:visited {
  text-decoration: none;
}

.links .no-padding {
  padding-right: 1rem;
  border-right: 2px solid #e8e8e8;
}

.links .no-border {
  padding-left: 1rem;
}

.cc {
  margin-bottom: 0.5;
  font-size: 0.8rem;
  margin-top: 0;
}

.chapter {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #121212;
  font-weight: 600;
}

.names button {
  background-color: #0290ff;
  padding: 0.5rem 1.5rem;
  border: 0;
  outline: 0;
  color: #e8e8e8;
  border-radius: 5px;
  margin-top: 1rem;
}

.graph-data h3 {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 2rem;
}

.graph-data h6 {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  opacity: 0.5;
}

.graph {
  padding: 2.3rem;
  width: 4rem;
  height: 4rem;
  border: 5px solid #0290ff;
  border-left-color: #e8e8e8;
  border-radius: 50%;
  margin: 0.5rem 1rem;
  transform: rotate(45deg);
}

.filterSelect select {
  padding: 0.5rem 0.2rem;
  width: 20%;
  outline: none;
  color: #121212;
  opacity: 0.5;
  margin-top: 0.5rem;
  border: 2px solid #e8e8e8;
}

.filterSelect select:focus {
  outline: none;
}

.form-container {
  padding: 0 5rem 5rem 5rem;
}

.form-container h3 {
  margin-top: 0;
  color: #888;
}

.form-container form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.form-container form input {
  grid-column: 1/4;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
  color: #121212;
  opacity: 0.5;
  border: 2px solid #e8e8e8;
  font-size: 1rem;
}

.form-container form select {
  margin: 0 1rem;
  padding: 0.5rem 0;
  outline: none;
  color: #121212;
  opacity: 0.5;
  border: 2px solid #e8e8e8;
}

.form-container form button {
  margin-left: 1rem;
  padding: 0.5rem 0;
  background-color: #0290ff;
  padding: 0.5rem 1.5rem;
  border: 0;
  outline: 0;
  color: #e8e8e8;
  border-radius: 5px;
}
